doctype html
html
  head
    title Products
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/css/categorypastry.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
    header
      .col-md-3
        a(href='/category')
          img(src='/images/SCORElogo.jpg')
      .col-md-5
      .col-md-2.pastOrders
        a(href='/shoppingcart') Shopping Cart
      .col-md-2.account
        ul
          if user
            a(href='/account')
              span= user.username
              i.caret
        
    .row.menuPage
      .col-md-2
      .col-md-10
        .row-1
          p.cakeType
            a(href='/category') Pastries
          p.cakeType
            a(href='/category') Breads
          p.cakeType
            a(href='/category') Cakes
        .pastryDetail
          h2 Pastries
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet, nisi fringilla fermentum bibendum, dui elit aliquam neque, id tempor urna mauris a ante. Nam sagittis neque sed iaculis tempor. Nunc consequat tellus sed maximus iaculis. Pellentesque vulputate velit sed mi venenatis, in pharetra dui sodales. Donec sagittis odio in libero egestas tempus a non leo. Cras ligula tortor, tempus at augue et, commodo interdum velit. Proin molestie augue eget nisl bibendum, non rutrum elit euismod. Nullam quis viverra ex. Nullam magna elit, pretium quis justo vel, imperdiet efficitur sem. Sed porta libero ut erat ultrices, non malesuada erat consectetur. Nunc ligula ligula, pellentesque eget tortor vel, molestie euismod est. Integer est urna, efficitur ac dictum vel, tempus quis augue. Suspendisse imperdiet sem sit amet justo malesuada accumsan.
    .pastryMenu
      .col-md-1
      .col-md-2.pastryType
        a(href='/product/eggtart')
          img(src='/images/portugese-egg-tarts.jpg')
          p.centerText Portuguese Egg Tarts
      .col-md-2.pastryType
        img(src='/images/dsc03560.jpg')
        p.centerText Curry Puff
      .col-md-2.pastryType
        img(src='/images/Strawberry-Tart_12293.jpg')
        p.centerText Fruit Tarts
      .col-md-2.pastryType
        img(src='/images/rainbow-kueh.jpg', height='150px', margin='auto')
        p.centerText Nonya Kueh
      .col-md-1
    .row.details
      .col-md-1
      .contact
        p
          | Contact Person:
          br
          |           Mr John LOW
          br
          |           +65 1234 5678
          br
          |           email@email.com
      .contact
        p
          b COMPANY
          br
          br
          |           ABOUT US
          br
          |           HOW TO ORDER
          br
          |           CAREER
      .privacy
        p
          | PRIVACY POLICY | TERMS & CONDITIONS
          br
          |           COPYRIGHT © 2017 SCORE BAKERY PTE LTD. ALL RIGHTS RESERVED
      .halal
        img(src='/images/halal.jpg', width='60px', height='60px')
