doctype html
html
  head
    title Portuguese Egg Tart
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='/css/eggtart.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
    header
      .col-md-3
        a(href='/category')
          img(src='/images/SCORElogo.jpg')
      .col-md-5
      .col-md-2.pastOrders
        a(href='/shoppingcart') Shopping Cart
      .col-md-2.account
        ul
          if user
            a(href='/account')
              span= user.username
              i.caret
    .row.green
      .col-md-1
      .col-md-10
        .row.links
          a(href='/category')
            p#pastries
              | PASTRIES →
          span.italic EGG TARTS
        .row.product
          .col-md-3.product
            img(src='/images/portugese-egg-tarts.jpg')
            p#product-name PORTUGUESE EGG TARTS
          .col-md-9
            span Quantity
            .input-group.number-spinner
              span.input-group-btn
                button.btn.btn-default(data-dir='dwn')
                  span.glyphicon.glyphicon-minus
              input.form-control.text-center(type='text', value='1')
              span.input-group-btn
                button.btn.btn-default(data-dir='up')
                  span.glyphicon.glyphicon-plus
            button#add-to-cart.btn.btn-default(data-dismiss='alert', type='submit') Add to cart
            br
            br
            span#price
              | PRICE/DOZEN
              br
              | $10.00
            p
              | Ingredients:
              br
              |             Butter, flour, powdered sugar, egg, salt, milk
              br
              br
              span.italic
                | Allergic Precautions:
                br
                |             Lactose intolerant
    .row.details
      .col-md-1
      .contact
        p
          | Contact Person:
          br
          |           Mr John LOW
          br
          |           +65 1234 5678
          br
          |           email@email.com
      .contact
        p
          b COMPANY
          br
          br
          |           ABOUT US
          br
          |           HOW TO ORDER
          br
          |           CAREER
      .privacy
        p
          | PRIVACY POLICY | TERMS & CONDITIONS
          br
          |           COPYRIGHT © 2017 SCORE BAKERY PTE LTD. ALL RIGHTS RESERVED
      .halal
        img(src='/images/halal.jpg', width='60px', height='60px')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/javascripts/script.js')
