doctype html
html
  head
    title SCORE Bakery
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
  body
    header
      img(src='/images/SCORElogo.jpg')
      .login
        a(href='/login')
          img(src='/images/Login Button copy.jpg')
        br
        a(href='/signup') Not a member? Sign up
    .grid
      .crop
        h1
          span
            | "We strive to serve
            br
            br
            | the best for you"
      .row
        .col-1
        .contact
          p
            | Contact Person:
            br
            |             Mr John LOW
            br
            |             +65 1234 5678
            br
            |             email@email.com
        .contact
          p
            b COMPANY
            br
            br
            |             ABOUT US
            br
            |             HOW TO ORDER
            br
            |             CAREER
        .privacy
          p
            | PRIVACY POLICY | TERMS & CONDITIONS
            br
            |             COPYRIGHT © 2017 SCORE BAKERY PTE LTD. ALL RIGHTS RESERVED
        .halal
          img(src='/images/halal.jpg', width='60px', height='60px')
